<!DOCTYPE html>
<html>
<head>
  <title>RailsReddit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% flash.each do |name, msg| %>
		<%= content_tag(:div, msg, class: "alert alert-#{name}") %>
	<% end %>

	<% if user_signed_in? %>
		<ul>
			<li><%= link_to 'Enviar vínculo', new_link_path %></li>
			<li><%= link_to 'Mi Cuenta', edit_user_registration_path %></li>
			<li><%= link_to 'Salir', destroy_user_session_path, :method => :delete %></li>
		</ul>
	<% else %>
		<ul>
			<li><%= link_to 'Registrarse', new_user_registration_path %></li>
			<li><%= link_to 'Ingresar', new_user_session_path %></li>
		</ul>
	<% end %>

<%= yield %>

</body>
</html>
